@page "/"
@using GYM.Management.Members;
@using GYM.Management.Trainers;
@attribute [Authorize]
@inject ITrainerService _trainerService
@inject IMemberService _memberService
    @inject NavigationManager NavigationManager
<Row Class="justify-content-between">
    <Column ColumnSize="ColumnSize.Is4">
        <Card Background="Background.Light">
            <CardHeader>
                <CardTitle Size="3">
                    Maaşı ödenmeyen çalışanlar (ilk 5)
                </CardTitle>
            </CardHeader>
            <CardBody>
                <Table Bordered>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>İsim</TableHeaderCell>
                            <TableHeaderCell>Maaş</TableHeaderCell>
                            <TableHeaderCell>En son ödenen</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var item in trainerDtos)
                        {
                            <TableRow>
                                <TableRowCell>@item.Name</TableRowCell>
                                <TableRowCell>@item.Salary</TableRowCell>
                                <TableRowCell>@item.lastSalaryDate.ToLongDateString()</TableRowCell>
                            </TableRow>
                        }
                      
                    </TableBody>
                </Table>
               <CardFooter>
                    <Button @onclick="@(() => NavigationManager.NavigateTo("/trainer",true))" Color="Color.Primary" Margin="Margin.Is2.FromTop">
                       Ödeme Sayfasına Git <Icon Name="IconName.ArrowRight" />
                    </Button>
                </CardFooter>
                
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4">
        <Card Background="Background.Success" WhiteText>
            <CardBody>
                <CardTitle Size="3">
                    Borcu olan üyeler (En yüksek 5 üye)
                </CardTitle>
                <CardText>
                    With supporting text below as a natural lead-in to additional content.
                </CardText>
                <Button Color="Color.Primary" Margin="Margin.Is2.FromTop">
                    Read more <Icon Name="IconName.ArrowRight" />
                </Button>
            </CardBody>
        </Card>
    </Column>
   
  
</Row>

@code {
    private List<MemberDto> memberDtos = new List<MemberDto>();
    private List<TrainerDto> trainerDtos = new List<TrainerDto>();

    protected override async Task OnInitializedAsync()
    {
        //memberDtos = await _memberService.GetDebtorMembers();
        //trainerDtos = await _trainerService.GetPaymentDuoTrainer();
    }
}